* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  text-align: center;
  font-family: PingFangSC;
  .react-countdown {
    font-size: 220px;
  }
  button {
    background: #3cc51f;
    width: 200px;
    margin: 20px auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      background: #ccc;
    }
  }

  .mod-label {
    font-size: 50px;
    color: #999;
    background: lighten(#f60, 10%);
    color: #fff;
    display: block;
    margin: 0 auto 30px;
    padding: 0 20px;
    position: fixed;
    border-radius: 0 0 30px 0;
  }
  .mod-form-control {
    &:nth-child(odd) {
      background: lighten(#eee, 2%);
    }
    &:nth-child(even) {
      background: lighten(#ccc, 40%);
    }
    &:hover {
      background: #eee;
    }
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 10px 0;
    margin-top: -1px;
    label {
      display: inline-block;
      margin-right: 5px;
      width: 80px;
      font-weight: bold;
    }
    input {
      padding: 8px 10px;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
        border-color: #007aff;
      }
    }
  }
}
