* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  text-align: center;
  font-family: PingFangSC;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 37.5%;
  font-size: 280px;
  button {
    background: #3cc51f;
    width: 200px;
    margin: 20px auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      background: #ccc;
    }
  }

  .mod-label {
    font-size: 100px;
    color: #999;
    position: absolute;
    background: #3cc51f;
    color:#fff;
    display: block;
    padding: 0 20px;
    top: -120px;
    right: -20px;
    border-radius: 10px 0 0 10px;
  }
}
