@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  text-align: center;
  font-family: PingFangSC;

  .is-body {
    padding: 20px;
    background: #fff;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
  }
  .react-countdown {
    font-size: 220px;
  }
  .mod-label {
    font-size: 50px;
    color: #999;
    background: lighten(#f60, 10%);
    color: #fff;
    display: block;
    margin: 0 auto 30px;
    padding: 0 20px;
    position: fixed;
    border-radius: 0 0 30px 0;
  }
  .mod-form-control {
    &:nth-child(odd) {
      background: lighten(#eee, 2%);
    }
    &:nth-child(even) {
      background: lighten(#ccc, 40%);
    }
    &:hover {
      background: #eee;
    }
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 10px 0;
    margin-top: -1px;
    label {
      display: inline-block;
      margin-right: 5px;
      width: 80px;
      font-weight: bold;
    }
    input {
      padding: 8px 10px;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
        border-color: #007aff;
      }
    }
  }
}
